.vp-table-pro>:not([hidden])~:not([hidden]) {
  margin-top: 0.5rem;
}

.vp-table-pro-search .el-card__body {
  padding-bottom: 2px;
}

.vp-table-pro-search .el-form > .el-row > .el-col:last-child {
  margin-bottom: 18px;
}

.vp-table-pro-search-buttons {
  text-align: right;
}

.vp-table-pro-pagination {
  display: flex;
  margin-top: 0.5rem;
  justify-content: flex-end;
}

.vp-table-pro-header {
  display: flex;
  align-items: center;
}

.vp-table-pro-header-buttons {
  margin: -10px 0;
}

html.dark .el-card {
  --el-card-bg-color: var(--el-bg-color);
}